
TP1/.idea/vcs.xml
TP1/.idea/misc.xml
TP1/.idea/inspectionProfiles/profiles_settings.xml
TP1/.idea/modules.xml
TP1/.idea/TP1.iml
*.pyc
TP1/.idea/.name
.idea/analisis-numerico-trabajos-practicos.iml
*.xml
TP1/TrabajoPractico_1_C2_2020_Numerico.pdf
