# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Juan Cruz\Desktop\FIUBA\2C - 2020\Analisis Numerico\TPs\analisis-numerico-trabajos-practicos\TP1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
